label {
  color: #24b9b6;
  font-size: 1.2em;
  font-weight: 400;
}

.form-group {
  margin-bottom: 2.5em;
}

.error {
  border: 2px solid #ff6565 !important;
}

.error-message {
  color: #ff6565;
  padding: 0.5em 0.2em;
  height: 1em;
  position: absolute;
  font-size: 0.8em;
}

.swal-footer {
  display: flex;
  justify-content: flex-end;
}

.swal-button {
  background-color: #fff;
  color: var(--main-green);
  border: 1px solid var(--main-green);
  padding: 4px 24px;
}
