.news-item-slider .carrousel_image {
  height: 400px;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: contain !important;
  background-color: #000 !important;
}

.news_content p,
.news_content p span {
  font-size: 1.1rem;
}
