.partner .carrousel_image {
  height: 150px;
  width: 150px;
  border-radius: 8px;
  background-size: cover !important;
  background-color: #fff !important;
}

.carrousel_image img {
  border-radius: 50%;
}
.partner .carrousel_caption {
  color: #fff;
  padding: 1rem 1rem;
  font-size: 1.2rem;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.partner .slick-next,
.partner .slick-prev {
  margin: 0 -50px;
}

@media only screen and (max-width: 1024px) {
  .partner .slick-next,
  .partner .slick-prev {
    margin: 0;
  }
  [dir="rtl"] .slick-next {
    left: 0 !important;
  }
  [dir="rtl"] .slick-prev {
    right: 0 !important;
  }
}
