.local_prices.table-responsive {
  margin-top: 40px !important;
  width: 98% !important;
}
.local_prices thead th {
  color: white !important;
}

.local_prices table td,
.local_prices table th {
  padding: 0.5rem !important;
  font-size: 20px;
}

.GovVal {
  color: white;
  padding: 6px;
  border-radius: 8px;
  text-align: center;
}

.MinVal {
  background-color: red;
}

.MaxVal {
  background-color: #0d924c;
}

.recharts-cartesian-axis-tick {
  font-size: 22px;
  margin: 10px;
  font-variant-numeric: stacked-fractions !important;
}
