@import "bootstrap/dist/css/bootstrap.min.css";
@import "./components/slick-carousel/slick.min.css";
@import "./components/slick-carousel/slick-theme.min.css";

@font-face {
  font-family: "GESSTwo";
  src: url("./assets/fonts/GESSTwo/GESSTwoLight-Light.woff");
}
:root {
  --main-green: #0d924c;
  --secondary-green: #54a646;
  --main-gray: #f9f9f9;
  --secondary-gray: #f7f7f7;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #0d924c;
  outline: 1px solid slategrey;
  border-radius: 20px;
}

* {
  text-align: right;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "GESSTwo", "PT Sans", sans-serif !important;
  font-size: 0.9rem;
}

html,
body,
#root {
  height: 100%;
}
#root {
  display: flex;
  flex-direction: column;
}

a {
  color: unset;
}

/* breadcrumb */
.breadcrumb {
  background-color: #fffefe;
  background-image: linear-gradient(315deg, #f6f6f6 0%, #ffffff 74%);
}
.breadcrumb .breadcrumb-item .active.current {
  color: var(--main-green);
}
.breadcrumb .breadcrumb-item .active.current:hover {
  color: var(--main-gray);
  cursor: default;
}
.breadcrumb-item + .breadcrumb-item::before {
  padding-left: 0.5rem;
  content: ">";
}
/* scale */
.zoom_on_hover:hover {
  -webkit-transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out;
  -ms-transition: transform 0.5s ease-in-out;
  -webkit-transform: scale(1.07);
  -ms-transform: scale(1.07);
  transform: scale(1.07);
}

.zoom_image_on_hover:hover .zoomed_img {
  -webkit-transition: transform 0.2s ease-in-out;
  -moz-transition: transform 0.2s ease-in-out;
  -ms-transition: transform 0.2s ease-in-out;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}
/* Paginate */
.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  cursor: pointer;
  margin: 1rem;
}

.pagination a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: var(--main-gray);
  font-size: 19px;
}
.pagination [role="button"]:focus {
  outline: unset;
}

.pagination__link {
  font-weight: bold;
}
.previous,
.next {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: var(--main-gray);
  width: 80px;
  text-align: center;
  border-radius: 50%;
}

.pagination__link--active a {
  color: #fff !important;
  background: var(--secondary-green);
}

.pagination__link--disabled a {
  color: darkgray;
}
.table td,
.table th {
  vertical-align: middle !important;
}
.MuiTableCell-root {
  font-size: 1.1rem !important;
}
